article {
  border: 1px solid rgb(118, 73, 22);
  padding: 1vw;
  margin-bottom: 1vw;
  width: 20%;
  float: max-content;
}

article img {
  width: 100%
}

article p {
  font-size: 10px;
  margin: auto;
  display: inline-block;
  margin-bottom: .5rem;
}

article p:last-of-type {
  padding-left: 1rem;
  cursor: pointer;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}